* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.6;
    font-family: inherit;
}

body, html {
    height: 100%;
    width: 100%;
    font: 15.56px Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:focus {
    outline: none;
}
