#page {
    position: absolute;
    min-width: 370px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 370px;
    min-width: 370px;
}

#fullname {
    font: 35pt Roboto, sans-serif;
    line-height: 1;
    color: #000;
}

#links {
    padding: 3pt 1pt 0pt 1pt;
    line-height: 20.3pt;
    text-align: left;
}

#links a {
    font: 10.5pt 'Fira Mono', monospace;
    color: #FFF;
    background: #000;
    text-decoration: none;
    padding: 1.3pt 4.5pt 1.1pt 4.5pt;
    margin: 0 1pt;
}

#links a[href*="\.\/cv"]:hover {background: #D00}
#links a[href*="te\.ne"]:hover {background: #0A8}
#links a[href*="le\.co"]:hover {background: #15A}
#links a[href*="ub\.co"]:hover {background: #777}
#links a[href*="om\/@l"]:hover {background: #0C5}
#links a[href*="ud\.co"]:hover {background: #F50}
#links a[href*="am\.co"]:hover {background: #94C}
#links a[href*="er\.co"]:hover {background: #4AE}

#vignette {
    padding: 7pt 1.3pt;
    font: 12pt 'Roboto', sans-serif;
    text-align: justify;
}
